.segment
    &_container
        position: relative
        display: flex
        flex-direction: row
        width: 100%
    &_row1
        position: relative
        padding-top: 32px
        padding-left: 32px
        display: flex
        flex-direction: column
        color: #fff
        font-family: Helvetica Neue
        min-width: 297px
        font-weight: bold

    &_row2
        padding: 32px
        display: flex
        flex: 1
        flex-direction: column
